
body{
    overflow-x: hidden;
    margin: 0px;
}
.navbar{
    width: 100%;
    height: auto;
   background-image: url("images/img-4.png"); 
   background-size: cover;
}

.navbar .logo{
    display: inline;
  width: 10%;
  height: auto;
  font-family: "Times New Roman", Times, serif;  
  float: left;
  margin-left: 0;
  padding-top: 10px;
  

}
.navbar .nav_list{
   
    width: 90%;
    margin-left: 45%;
    height: 20px;
   
    font-size: 98%;
    padding-top: 10px;

   
    
}
.navbar .nav_list li{
    display: inline;
   
padding: 20px;
min-width: 800px;

}
.delicious_txt {
   display: block;
   margin-top: 13%;
   padding-bottom: 13%;
  
   
}
 h2, h3{
    font-family: 'Oleo Script Swash Caps';
}
.btn{
    background-color: #e1651f;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 130px;
}
.order{
    background-color: #fef4ee;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 100px;
    color: #e1651f;
}
.about_us{
    width: 100%;
    height: auto;
}
.about_us .about_pics{
    
    width: 45%;
    display: inline-flex;
    margin-left: 40px;
    margin-top: 50px;
}
.about_us .about_pics .col2 {
   
    display: flex;
    
    flex-direction: column;
    margin-left: 5px;
}
.about_us .about_pics .col2 li{
   
    list-style: none;
}

.about_us .about_pics .col2 li img{
    width: 200px; height: 200px;
}


.about_us .about_txt{
    width: 50%;
    float: right;
    margin-top: 40px;
}
  #first_hr{
    width: 10%;
    float: left;
    height: 2px;
    background-color: #e1651f;
}

#amount{
    margin-left: 10px;
    background-color: #e1651f;
    padding: 5px 10px 5px 10px;

}
.stars{
    color: #e1651f;
   
    
}

.menu{
    height: auto;
   
    background-color: #f5f5f5;
    padding-bottom: 180px;

}
.menu .row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 5px;
   
   

}

.menu .row1>li{
    width: 350px;
    background-color: white;
    height: 550px;
    list-style: none;
    margin: 20px;
    

}

.menu .row1>li>img{
height: 60%;
width: 100%;


}
.menu .row2{
margin-top: 40px;
}

.menu .row1 li div{
    margin-left: 40px;
    
}
 .mlast{
  margin-top: 5%;
}