
body{
    overflow-x: hidden;
    margin: 0px;
}
.navbar{
    width: 100%;
    height: auto;
   background-image: url("images/img-4.png"); 
   background-size: cover;
}

.navbar .logo{
    display: inline;
  width: 10%;
  height: auto;
  font-family: "Times New Roman", Times, serif;  
  float: left;
  margin-left: 0;
  padding-top: 10px;
  

}
.navbar .nav_list{
   
    width: 90%;
    margin-left: 45%;
    height: 20px;
   
    font-size: 98%;
    padding-top: 10px;

   
    
}
.navbar .nav_list li{
    display: inline;
   
padding: 20px;
min-width: 800px;

}
.delicious_txt {
   display: block;
   margin-top: 13%;
   padding-bottom: 13%;
  
   
}
 h2, h3{
    font-family: 'Oleo Script Swash Caps';
}
.btn{
    background-color: #e1651f;
    padding: 10px;
    border: none;
    border-radius: 20px;
    width: 130px;
}
.order{
    background-color: #fef4ee;
    padding: 5px;
    border: none;
    border-radius: 20px;
    width: 100px;
    color: #e1651f;
}
.about_us{
    width: 100%;
    height: auto;
}
.about_us .about_pics{
    
    width: 45%;
    display: inline-flex;
    margin-left: 40px;
    margin-top: 50px;
}
.about_us .about_pics .col2 {
   
    display: flex;
    
    flex-direction: column;
    margin-left: 5px;
}
.about_us .about_pics .col2 li{
   
    list-style: none;
}

.about_us .about_pics .col2 li img{
    width: 200px; height: 198px;
}


.about_us .about_txt{
    width: 50%;
    float: right;
    margin-top: 40px;
}
  #first_hr{
    width: 10%;
    float: left;
    height: 2px;
    background-color: #e1651f;
}

#amount{
    margin-left: 10px;
    background-color: #e1651f;
    padding: 5px 10px 5px 10px;

}
.stars{
    color: #e1651f;
  
    
}

.menu{
    padding-top: 60px;
    height: auto;
   
    background-color: #f5f5f5;
    padding-bottom: 180px;

}
.menu .row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 5px;
   
   

}

.menu .row1>li{
    width: 350px;
    background-color: white;
    height: 550px;
    list-style: none;
    margin: 20px;
    

}

.menu .row1>li>img{
height: 60%;
width: 100%;


}
.menu .row2{
   
margin-top: 40px;
}

.menu .row1 li div{
    margin-left: 50px;
    
}
 .mlast{
  margin-top: 5%;
}
.services{
    width: 100%;
    height: auto;
}


.services #second_hr{
    width: 10%;
    height: 2px;
    background-color: #e1651f;
}
.services .service_rowone{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.services .service_rowone li{
    list-style: none;
}
.services .service_rowone>li img{
    height: 15%;
    width: 15%;
}

.services .service_rowtwo{
    display: flex;
    justify-content: space-around;
   margin-top: 40px;
   margin-bottom: 40px;

}

.services .service_rowtwo li{
    list-style: none;
}

.services .service_rowtwo>li img{
    height: 15%;
    width: 15%;
}
.listen_2customer{
   
    height: auto;
    background-image: url("images/img-4.png");
    background-size: cover;
}
.listen_2customer .listen_txt{
    margin-top: 70px;
    color: white;
}

.listen_2customer .listen_row{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;

}
.listen_2customer .listen_row li{
    margin-top: 40px;
    list-style: none;
    background-color: white;
}
.book_table .book_form form .fElement{
    height: 30px;
    width: 70%;
    margin: 10px;
    border: none;
    outline: none;
    background-color: #f5f5f5;
}

.book_table .book_form form .hElement{
    height: 30px;
    width: 34%;
    margin: 10px; 
    border: none;
    outline: none;
    background-color: #f5f5f5;
}
.book_table .book_form form .mess{
    height: 150px;
}

.book_table .book_form form{
    padding-bottom: 80px;
}
.stat_numbers{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    overflow-x: hidden;
    background-image: url("images/Rectangle\ 4.png");
    background-size: cover;
   padding-top: 100px;
   padding-bottom: 100px;
   color: white;
}
.stat_numbers li{
    list-style: none;
}
.footer_top{
 display: flex;
 justify-content: space-around;
 background-color: #1c1c1c;
}
.footer_top li{
    list-style: none;
    color: white;
    padding-bottom: 40px;
}

.footer_top li .element_l{
    width: 100%;
    border: none;
    outline: none;

}
.footer_top li .email{
  background-color: #2c2c2c;
  width: 97%;
  height: 20px;
}


.footer_top li .sub{
    background-color: #e1651f;
}

.footer_btm{
    height: 40px;
    overflow-x: hidden;
    background-color: #2c2c2c;
    color: white;
    display: flex;
    justify-content: space-around;
}
.footer_btm>li{
   margin-top: 20px;
    list-style: none;
    display: inline;
    
}

.footer_btm ul>li{
  padding-left: 10px;
   display: inline;
}
.footer_btm ul>li img{
    height: 25px;
   width: 25px;
}
